.container {
	max-width: 85%;
}
.panel-heading {
	background-color: #ff571f;
	padding-top: 10px;
	position: relative;

}

.zipgroup {
	/*margin-top: 100px;*/

}

#error {
	display: none;
}

#output {
	display: none;
}

#input-form {
	
	margin-bottom: 50px;
	vertical-align: middle;
}

h1, h3 {
	text-align: center;
}

.input-group-btn {
	max-width: 30%;
}

.panel-body {
	vertical-align: middle !important;

}
.jumbotron {
	height: 500px;
    background-image: url("bgimage.jpg");
    background-color: #17234E;
    margin-top: 100px;
    margin-bottom: 0;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
table {
	margin: 0px;
	border: none;
	border-collapse: collapse;
}
 
td {
	text-align: center;
	border: none;
	border-collapse: collapse;
}
p {
	text-align: center;
}