.container-fluid, html { 
    background: url(bgimage.jpg) no-repeat center center fixed;
}
.container {
	max-width: 85%;
}
.panel-heading {
	background-color: #ff571f;
	padding-top: 10px;
	position: relative;

}

.zipgroup {
	margin-top: 100px;
	margin-bottom: 0;

}

#error {
	display: none;
}

#output {
	display: none;
}

#input-form {
	
	margin-bottom: 10px;
	vertical-align: middle;
}

h1, h3 {
	text-align: center;
	padding: 10px;
	margin: 0;
}

.input-group-btn {
	max-width: 30%;
}
.panel-heading {
	padding: 10px !important;

}
.panel-body {
	vertical-align: middle !important;

}

table {
	margin: 0px;
	border: none;
	border-collapse: collapse;
}
 
td {
	text-align: center;
	border: none;
	border-collapse: collapse;
}

img {
	height: 35%;
	width: 35%;
	opacity: 1;
	margin-bottom: -5px;
}
p {
	text-align: center;
	display: inline-block;
	margin-bottom: 0;
	color: #fff;
	font-size: 48px;
	text-shadow: 2px 2px 0.2em #000;
	width: inherit;
}

.data {
	opacity: 1;
}